/* h2 { 
  margin-left: 20px;
} */

.games-container {
  display: flex;
  flex-wrap: wrap;
}

.game-container {
  margin: 10px;
  position: relative;
  background: black;
  border-radius: 10px;
}

img {
  width: 220px;
  border-radius: 10px;
  display: block;
}

.rating {
  position: absolute;
    display: inline-block;
    background: #FFCC32;
    padding: 10px;
    border-radius: 10px;
    color: white;
    left: 174px;
    top: 282px;
}